.card {
  padding: 10px;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  padding: 10px;
  height: 520px;
  width: 350px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-title {
  font-size: 16px;
  text-transform: uppercase;
}

p,
h5 {
  margin: 0px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-icon:hover {
  cursor: pointer;
}

.add-btn {
  border: none;
  background-color: transparent;
}
