.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
}

a {
  text-transform: uppercase;
  color: var(--dark-color);
}

.icon-badge-container {
  position: relative;
  display: flex;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 50%;
  font-size: 11px;
  min-width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
}

.icons-container {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.login-icon,
.shopping_bag-icon {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
.icons-container > a,
.dropdown-wrapper > a {
  font-size: 12px;
}

.icons-container > a > span {
  padding-top: 3px;
}

@media screen and (max-width: 400px) {
  .icons-container {
    column-gap: 10px;
  }
}
