.register-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.name-fields {
  display: flex;

  column-gap: 5px;
}

mat-card-title {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.additional-links {
  padding-top: 10px;
}

.additional-links > a {
  transition: all 1s linear;
}

.additional-links > a:hover {
  font-weight: bold;
}
.custom-login-btn {
  background-color: var(--dark-color);
}
