<div *ngIf="isLoading" class="loading-indicator">Loading products...</div>

<div *ngIf="!isLoading && error" class="error">{{ error }}</div>

<div
  *ngIf="!isLoading && basket.length > 0; else emptyBasket"
  class="basket-container"
>
  <div class="basket-wrapper">
    <div *ngFor="let product of basketProducts" class="basket-item">
      <img class="basket-img" [src]="product.imageData" [alt]="product.name" />
      <div>
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price | currency }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <button
          class="remove-from-basket"
          (click)="removeFromBasket(product._id, 1)"
          [disabled]="isLoading"
        >
          Remove from basket
        </button>
      </div>
    </div>
  </div>
  <div class="total">Total: {{ basketTotal | currency }}</div>
  <button
    (click)="checkout()"
    class="check-out-btn"
    [disabled]="isCheckingOut || isLoading"
  >
    {{ isCheckingOut ? "Processing..." : "Check Out" }}
  </button>
</div>
<ng-template #emptyBasket>
  <div *ngIf="!isLoading && !error && basket.length === 0" class="empty">
    <p>Your basket is empty.</p>
  </div>
</ng-template>
