<div class="footer-container">
  <p>join out newsletter!</p>
  <p class="discount-promo-msg">Get 10% discount on your next purchase by joining our newsletter</p>
  <div class="social-media-icons">
    <p>follow us on</p>
    <div class="social-media-icons-wrapper">
      <a href="https://facebook.com" target="_blank">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a href="https://instagram.com" target="_blank">
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
      <a href="https://twitter.com" target="_blank">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
      <a href="https://behance.com" target="_blank">
        <mat-icon svgIcon="behance"></mat-icon>
      </a>
      <a href="https://pinterest.com" target="_blank">
        <mat-icon svgIcon="pinterest"></mat-icon>
      </a>
    </div>
  </div>
  <div class="footer-links">
    <section>
      <p>policies</p>
      <a href="#">terms and conditions</a>
      <a href="#">privacy policy</a>
      <a href="#">shipping policy</a>
      <a href="#">return policy</a>
    </section>
    <section>
      <p>company</p>
      <a href="#">work with us</a>
      <a href="#">press</a>
    </section>
    <section>
      <p>contact</p>
      <a href="#">contact</a>
      <a href="#">support</a>
      <a href="#">help</a>
    </section>
  </div>
</div>
