.home-container {
  height: 100vh;
  background-image: url("src/assets/images/home-img.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content-wrapper > a {
  color: var(--light-color);
  font-size: 50px;
}

.home-content-wrapper > a > button {
  padding: 10px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  font-size: 16px;
  text-transform: uppercase;
}
.home-content-wrapper > a > button:hover {
  cursor: pointer;
}

p {
  margin-bottom: 20px;
}
